<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.max.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>

        <activity android:name=".ui.ChoiceAddressActivity"></activity>
    </application>
</manifest>